xx
<% @recipes.each do |recipe| %>

    <div style="text-align: center" class="card-product-infos ml-3">
        <h2><%= recipe.name %></h2>
        <h3><%= recipe.category %></h3>
        <a><%= link_to "More details", recipe_path(recipe), class: "btn btn-primary" %></a>
        <p></p>
    </div>
<% end %>