

<div class="container my-5" >
  <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="col-md-3">
          <div style="text-align: center" class="card">
              <% if recipe.photo.attached? %>
                <%= cl_image_tag recipe.photo.key , class:"card-img-top card-recipe-img"%>
              <% end %>
              <h2><%= recipe.name %></h2>
              <h3><%= recipe.category %></h3>
              <a><%= link_to "More details", recipe_path(recipe), class: "btn btn-primary" %></a>
              <p></p>
          </div>
         </div>
    <% end %>


  </div>




</div>


