<div class="container">
  <%= render "shared/card_user_profile" %>
</div>

<%= render "shared/sub_banner", title: "My Uploads", img:"https://images.unsplash.com/photo-1545216560-68430ad77342?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1702&q=80"%>
<div class="container profile-recipe-container-flex">
 <% @recipes_user.each do | recipe | %>
  <%=  render "shared/card_recipe_matt", recipe: recipe %>
 <% end %>
</div>



<%= render "shared/sub_banner", title: "My Orders", img:"https://d1ralsognjng37.cloudfront.net/22595732-ef37-4ab1-bea2-7fb996b87910.jpeg"%>
<div class="container profile-recipe-container-flex">
 <% @orders_user.each do | order | %>
  order
 <% end %>
</div>

