<h1>This Week:<%= @weeklyingredientlist.menu_name %></h1>
<p>Monday, June 15 - Sunday, June 21</p>
<!-- <p><%#= @weeklyingredientlist.date %> - <%#= @weeklyingredientlist.date + 6 %> </p> -->
<br>



<br>
<h2>See what our chefs have already made with these ingredients</h2>

