<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= asset_path 'banner.jpg' %>);">
  <div class="banner-attribute">
    <h1>Become the Chef</strong></h1>
    <h1>You've always wanted to be</strong></h1>
    <p>Everyone can cook, with tutorials</p>
    <a class="btn btn-color" href="">Start now</a>
  </div>
</div>



