<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(<%= asset_path 'banner.jpg' %>);">
  <div class="banner-attribute">
    <h1>Become the Chef</strong></h1>
    <h1>You've always wanted to be</strong></h1>
    <p>Everyone can cook, with tutorials</p>
    <button class="btn btn-banner"><%= link_to 'Start now', WeeklyIngredientList.find_by_id(1) %></button>
  </div>
</div>



