
<div class="card" style="padding: 30px;">
      <img class="card-img-top" src="https://cdn.vox-cdn.com/thumbor/ErkMV-EYoV01Z7ROz5nzZZIVHyk=/0x0:2761x2070/1200x800/filters:focal(1161x815:1601x1255)/cdn.vox-cdn.com/uploads/chorus_image/image/53421379/wolfgang_puck_governors_ball.0.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <% if show_button == true %>
          <button type="button" class="btn btn-secondary">Follow</button>
        <% end %>
      </div>
</div>
