<div class="card">
  <div class="card-recipe-img">
    <% if user.photo.attached? %>
      <%= link_to user_path(user) do %>
        <%= cl_image_tag user.photo.key , class:"card-img-top card-recipe-img"%>
      <% end %>
    <% end %>
  </div>
</div>