

<div class="footer">
  <div class="container d-flex justify-content-between align-items-center">
    <%= link_to 'Our Team', teams_path %>
    <h1>Follow Us</h1>
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <h6>Be the Chef you were meant to be</h6>
  </div>
</div>
