<div class="banner" style=" background-color: #D8343A; width: 100%; margin-top: 16%;">
  <div class="banner-attribute">
    <h1 style="color: white;  width: 100%;">Your uploaded recipes</h1>
  </div>
</div>




