<!-- SECTION HEADER BANNER: THIS WEEKS RECIPES CURRENT_USER SAVED -->
<div class="banner-sml">
  <dir class="container sub-banner">
    <h1>MY COOKBOOK: This Week's Recipes</h1>
    <p>Here are the saved recipes related to this week's ingredients</p>
  </dir>
</div>
<!-- THIS WEEKS RECIPES CURRENT_USER SAVED -->
<!-- PENDING TASK: GET ACTUAL RECIPES RECORDS OF CUURENT USER INSTEAD OF DEFAULT CARDS -->
<div class="container parent">
  <% 3.times do  %>
    <%= render "shared/card_recipe_matt" %>
    <% end  %>
</div>


<!-- SECTION HEADER BANNER: PAST RECIPES CURRENT_USER SAVED -->
<div class="banner-sml">
  <dir class="container sub-banner">
    <h1>My Past Recipes</h1>
    <p>Here are the prviously saved recipes prior to this week</p>
  </dir>
</div>
<!-- PAST RECIPES CURRENT_USER SAVED -->
<!-- PENDING TASK: GET ACTUAL RECIPES RECORDS OF CUURENT USER INSTEAD OF DEFAULT CARDS -->
<div class="container parent">
  <% 6.times do  %>
    <%= render "shared/card_recipe_matt" %>
    <% end  %>
</div>
