.btn-color {
    background-color: #4a4e50;
    color: white;
    border-radius: 10px;
}

.btn-grey {
    background-color: #4a4e50;
    color: white;
    border-radius: 10px;
}

.btn-color:hover {
    background-color: #57666d;
    color: white;

}

.btn-navbar {
    background-color: #F15C60;
}
