.btn-color {
    background-color: hsl(200, 4%, 30%);
    color: white;
    border-radius: 10px;
}

.btn-banner {
    background-color: #D8343A;
    
    border-radius: 10px;
    padding: 8px 10px;

    a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
}
.btn-banner:hover {
    background-color: #e4565b;
}

.btn-grey {
    background-color: #4a4e50;
    color: white;
    border-radius: 10px;
}

.btn-color:hover {
    background-color: #57666d;
    color: white;

}

.btn-navbar {
    background-color: #F15C60;
}
