.btn-color {
    background-color: #D73339;
    color: white;
    border-radius: 10px;
    font-size: 25px;
}

.btn-color:hover {
    background-color: #b82c31;
    color: white;
    border-radius: 10px;
    font-size: 25px;
}