.footer {
    width: 100%;
    background: #383F51;
    color:white;
    display: flex;
    justify-content: space-between;
    padding: 40px 32px;
    align-items: center;
}
.footer-links {
    display: flex;
    align-items: center;
}

.footer-links a {
    color: white;
    opacity: 0.50;
    text-decoration: none;
    font-size: 24px;
    margin: 0 16px;
}

.footer-links a:hover {
    opacity: 1;
}

.footer h1 {
    color: #6C748F;
    font-size: 20px;
    font-weight: bold;
    width: 400px;
}

.footer h6 {
    color:#6C748F;
    width: 400px;
}




