$dark-grey: #383F51;

.navbar-container {
  display: flex;
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  z-index : 10;
  padding: 0 32px;
  align-items: center;
  box-sizing: border-box;
}

.navbar-search {
  margin: 20px;
}

.avatar {
  object-fit: cover;
}
.avatar-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  height: 90%;
  img {
    height: 100%;
  }
}

.links-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.links-container a {
  color: #383F51;
  text-decoration: none;
  margin: 0 24px;
  font-weight: bold;
  font-size: 18px;

  &:hover {
    color: grey;
  }
}


.font-primary {
  color: white;
}

.font-primary:hover {
  color: #fdadb5;
  text-decoration: none!important;
}


.content {
  padding: 16px;
}
.navbar-link {
  color: #383F51;
  text-decoration: none;
  margin: 0 24px;
  font-weight: bold;
  font-size: 18px;

  &:hover {
    color: grey;
  }
}