.navbar-lewagon {
  justify-content: space-between;
  background: #D8343A;
  position: fixed;
  top: 0;
  width: 100%;
  z-index : 10;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.navbar-title {
  color: white;
  font-size: 20px;
}

.font-primary {
  color: white;
}

.font-primary:hover {
  color: #fdadb5;
  text-decoration: none!important;
}


.content {
  padding: 16px;
}